
<div class="form-container" >

  <div class="logo"> ITP LIVE PORTAL</div>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" autocomplete="off" >
    <mat-form-field appearance="outline">
      <mat-label >Email</mat-label>
      <input matInput type="email" formControlName="email" name="email" autocomplete="off" required>
      <mat-error *ngIf="loginForm.controls['email'].invalid && loginForm.controls['email'].touched">
        Please enter a valid email.
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Password</mat-label>
      <input matInput type="password" formControlName="password" name="password" autocomplete="off" required>
      <mat-error *ngIf="loginForm.controls['password'].invalid && loginForm.controls['password'].touched">
        Please enter a valid password.
      </mat-error>
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit" [disabled]="!loginForm.valid">Login</button>
  </form>
</div>




