<div style="position: relative;">
  <div class="search-container">
    <button mat-raised-button  class="back-button"color="primary"  (click)="backButton()">
      <mat-icon>arrow_back</mat-icon>
      BACK
    </button>
    </div>

  <div class="table-container">
  <table mat-table [dataSource]="dataSource" matSort>

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->


    <ng-container matColumnDef="Agency">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Agency </th>
      <td mat-cell *matCellDef="let element"> {{element.Agency}} </td>
    </ng-container>


    <ng-container matColumnDef="Client">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Client </th>
      <td mat-cell *matCellDef="let element"> {{element.Client}} </td>
    </ng-container>


    <ng-container matColumnDef="ClientIndustry">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Industry </th>
      <td mat-cell *matCellDef="let element"> {{element.ClientIndustry}} </td>
    </ng-container>


    <ng-container matColumnDef="CampaignObjective">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>  CampaignObjective </th>
      <td mat-cell *matCellDef="let element"> {{element.CampaignObjective}} </td>
    </ng-container>

    <ng-container matColumnDef="NumberofRecommendations">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Number of Recommendations </th>
      <td mat-cell *matCellDef="let element"> {{element.NumberofRecommendations}} </td>
    </ng-container>

    <ng-container matColumnDef="Assigned_to">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Assigned</th>
      <td mat-cell *matCellDef="let element">
          <span *ngIf="element.assigned_to > 0"> Yes </span>
          <span *ngIf="element.assigned_to === null"> No </span>
      </td>
    </ng-container>

    <ng-container matColumnDef="ViewedByTalent">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Viewed </th>
      <td mat-cell *matCellDef="let element">
          <span *ngIf="element.ViewedByTalent > 0"> Yes </span>
          <span *ngIf="element.ViewedByTalent < 1"> No </span>
      </td>
    </ng-container>


    <ng-container matColumnDef="Action" >
      <th mat-header-cell *matHeaderCellDef> Action  </th>
      <td mat-cell *matCellDef="let element">
      <button mat-raised-button color="primary" (click)="viewedTask(element.id)" > View </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row (click)="onRowClicked(row)"  *matRowDef="let row; columns: displayedColumns;" ></tr>

  </table>
  <mat-paginator [length]="100"
                [pageSize]="5"
                [pageSizeOptions]="[3, 5, 10, 25, 100]"
                aria-label="Select page">
  </mat-paginator>
  </div>
  </div>
