<form [formGroup]="influencerForm" (ngSubmit)="onSubmit()">
  <table>
    <tr>
      <th>Field</th>
      <th>Rating</th>
    </tr>
    <tr>
      <td>Authenticity</td>
      <td>
        <span class="star-rating">
          <span class="fa fa-star-o" data-rating="1" (click)="onRatingClicked($event, 'authenticity')"></span>
          <span class="fa fa-star-o" data-rating="2" (click)="onRatingClicked($event, 'authenticity')"></span>
          <span class="fa fa-star-o" data-rating="3" (click)="onRatingClicked($event, 'authenticity')"></span>
          <span class="fa fa-star-o" data-rating="4" (click)="onRatingClicked($event, 'authenticity')"></span>
          <span class="fa fa-star-o" data-rating="5" (click)="onRatingClicked($event, 'authenticity')"></span>
        </span>
      </td>
    </tr>
    <tr>
      <td>Engagement</td>
      <td>
        <span class="star-rating">
          <span class="fa fa-star-o" data-rating="1" (click)="onRatingClicked($event, 'engagement')"></span>
          <span class="fa fa-star-o" data-rating="2" (click)="onRatingClicked($event, 'engagement')"></span>
          <span class="fa fa-star-o" data-rating="3" (click)="onRatingClicked($event, 'engagement')"></span>
          <span class="fa fa-star-o" data-rating="4" (click)="onRatingClicked($event, 'engagement')"></span>
          <span class="fa fa-star-o" data-rating="5" (click)="onRatingClicked($event, 'engagement')"></span>
        </span>
      </td>
    </tr>
    <tr>
      <td>Transparency</td>
      <td>
        <span class="star-rating">
          <span class="fa fa-star-o" data-rating="1" (click)="onRatingClicked($event, 'transparency')"></span>
          <span class="fa fa-star-o" data-rating="2" (click)="onRatingClicked($event, 'transparency')"></span>
          <span class="fa fa-star-o" data-rating="3" (click)="onRatingClicked($event, 'transparency')"></span>
          <span class="fa fa-star-o" data-rating="4" (click)="onRatingClicked($event, 'transparency')"></span>
          <span class="fa fa-star-o" data-rating="5" (click)="onRatingClicked($event, 'transparency')"></span>
        </span>
      </td>
    </tr>
    <tr>
      <td>Relevance</td>
      <td>
        <span class="star-rating">
          <span class="fa fa-star-o" data-rating="1" (click)="onRatingClicked($event, 'relevance')"></span>
          <span class="fa fa-star-o" data-rating="2" (click)="onRatingClicked($event, 'relevance')"></span>
          <span class="fa fa-star-o" data-rating="3" (click)="onRatingClicked($event, 'relevance')"></span>
          <span class="fa fa-star-o" data-rating="4" (click)="onRatingClicked($event, 'relevance')"></span>
          <span class="fa fa-star-o" data-rating="5" (click)="onRatingClicked($event, 'relevance')"></span>
        </span>
      </td>
    </tr>
    <tr>
      <td>Consistency</td>
      <td>
        <span class="star-rating">
          <span class="fa fa-star-o" data-rating="1" (click)="onRatingClicked($event, 'consistency')"></span>
          <span class="fa fa-star-o" data-rating="2" (click)="onRatingClicked($event, 'consistency')"></span>
          <span class="fa fa-star-o" data-rating="3" (click)="onRatingClicked($event, 'consistency')"></span>
          <span class="fa fa-star-o" data-rating="4" (click)="onRatingClicked($event, 'consistency')"></span>
          <span class="fa fa-star-o" data-rating="5" (click)="onRatingClicked($event, 'consistency')"></span>
        </span>
      </td>
    </tr>
    <tr>
      <td>Creativity</td>
      <td>
        <span class="star-rating">
          <span class="fa fa-star-o" data-rating="1" (click)="onRatingClicked($event, 'creativity')"></span>
          <span class="fa fa-star-o" data-rating="2" (click)="onRatingClicked($event, 'creativity')"></span>
          <span class="fa fa-star-o" data-rating="3" (click)="onRatingClicked($event, 'creativity')"></span>
          <span class="fa fa-star-o" data-rating="4" (click)="onRatingClicked($event, 'creativity')"></span>
          <span class="fa fa-star-o" data-rating="5" (click)="onRatingClicked($event, 'creativity')"></span>
        </span>
      </td>
    </tr>
    <tr>
      <td>Influence</td>
      <td>
        <span class="star-rating">
          <span class="fa fa-star-o" data-rating="1" (click)="onRatingClicked($event, 'influence')"></span>
          <span class="fa fa-star-o" data-rating="2" (click)="onRatingClicked($event, 'influence')"></span>
          <span class="fa fa-star-o" data-rating="3" (click)="onRatingClicked($event, 'influence')"></span>
          <span class="fa fa-star-o" data-rating="4" (click)="onRatingClicked($event, 'influence')"></span>
          <span class="fa fa-star-o" data-rating="5" (click)="onRatingClicked($event, 'influence')"></span>
        </span>
      </td>
    </tr>
    <tr>
      <td>Trustworthiness</td>
      <td>
        <span class="star-rating">
          <span class="fa fa-star-o" data-rating="1" (click)="onRatingClicked($event, 'trustworthiness')"></span>
          <span class="fa fa-star-o" data-rating="2" (click)="onRatingClicked($event, 'trustworthiness')"></span>
          <span class="fa fa-star-o" data-rating="3" (click)="onRatingClicked($event, 'trustworthiness')"></span>
          <span class="fa fa-star-o" data-rating="4" (click)="onRatingClicked($event, 'trustworthiness')"></span>
          <span class="fa fa-star-o" data-rating="5" (click)="onRatingClicked($event, 'trustworthiness')"></span>
        </span>
      </td>
    </tr>
    <tr>
      <td>Responsiveness</td>
      <td>
        <span class="star-rating">
          <span class="fa fa-star-o" data-rating="1" (click)="onRatingClicked($event, 'responsiveness')"></span>
          <span class="fa fa-star-o" data-rating="2" (click)="onRatingClicked($event, 'responsiveness')"></span>
          <span class="fa fa-star-o" data-rating="3" (click)="onRatingClicked($event, 'responsiveness')"></span>
          <span class="fa fa-star-o" data-rating="4" (click)="onRatingClicked($event, 'responsiveness')"></span>
          <span class="fa fa-star-o" data-rating="5" (click)="onRatingClicked($event, 'responsiveness')"></span>
        </span>
      </td>
    </tr>
    <tr>
      <td>Personality</td>
      <td>
        <span class="star-rating">
          <span class="fa fa-star-o" data-rating="1" (click)="onRatingClicked($event, 'personality')"></span>
          <span class="fa fa-star-o" data-rating="2" (click)="onRatingClicked($event, 'personality')"></span>
          <span class="fa fa-star-o" data-rating="3" (click)="onRatingClicked($event, 'personality')"></span>
          <span class="fa fa-star-o" data-rating="4" (click)="onRatingClicked($event, 'personality')"></span>
          <span class="fa fa-star-o" data-rating="5" (click)="onRatingClicked($event, 'personality')"></span>
        </span>
      </td>
    </tr>
    <tr>
      <td>Notes</td>
      <td>
        <mat-form-field>
          <textarea formControlName="notes" matInput placeholder="Notes"></textarea>
          <mat-hint align="end">{{influencerForm.get('notes')?.value?.length || 0}}/500</mat-hint>
        </mat-form-field>
      </td>
    </tr>
  </table>
  <button mat-raised-button type="submit" [disabled]="influencerForm.invalid">Submit</button>
</form>
