<div style="padding-bottom: 2%; padding-left: 1%; padding-top: 1%;">
  <button mat-raised-button  color="primary"  (click)="navigateToForms()">
    <mat-icon>arrow_back</mat-icon>
    BACK
  </button>
  </div>

  <div class="form-container">
    <h1 style="align-content: center; margin-left: 34%; font-size: 300%; margin-top: 2%; margin-bottom: 3%;"> Sales Brief Form</h1>
    <form [formGroup]="newSalesBriefForm" (ngSubmit)="createSalesBrief()" autocomplete="off">
      <div class="row">
        <mat-form-field appearance="outline">
          <mat-label>Agency </mat-label>
          <input matInput type="text" formControlName="Agency" autocomplete="off"  />
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Client </mat-label>
          <input matInput type="text" formControlName="Client" autocomplete="off"  />
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Client's Industry</mat-label>
          <mat-select formControlName="ClientIndustry">
            <mat-option *ngFor="let option of clientIndustries" [value]="option">{{option}}</mat-option>
          </mat-select>
        </mat-form-field>
        </div>

        <div class="row">
        <mat-form-field appearance="outline">
          <mat-label>Campaign Name</mat-label>
          <input matInput type="text" formControlName="CampaignName" autocomplete="off" />
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Campaign Overview</mat-label>
          <textarea matInput formControlName="CampaignOverview" rows="1" autocomplete="off"></textarea>
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field appearance="outline">
          <mat-label>Campaign Objective</mat-label>
          <mat-select formControlName="CampaignObjective">
            <mat-option *ngFor="let option of campaignobjectives" [value]="option">{{option}}</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Campaign Objective Details</mat-label>
          <textarea matInput formControlName="CampaignObjectiveDetails" rows="1" autocomplete="off"></textarea>
        </mat-form-field>
      </div>

      <div class="row">
        <mat-form-field appearance="outline">
          <mat-label>Number of recommendations</mat-label>
          <input matInput type="number" formControlName="NumberofRecommendations" autocomplete="off" />
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Currency</mat-label>
          <mat-select formControlName="Currency" >
            <mat-option *ngFor="let option of currencies" [value]="option" >{{option}}</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label> Approximate Budget </mat-label>
          <input matInput type="number" formControlName="Budget" autocomplete="off" />
        </mat-form-field>
      </div>

      <!-- <div class="row">
        <mat-form-field appearance="fill">
          <mat-label>Enter a campaign start and end dates</mat-label>
          <input matInput formControlName="CampaignLaunchDate" [matDatepicker]="CampaignLaunchDate">
          <mat-hint>DD/MM/YYYY – DD/MM/YYYY</mat-hint>
          <mat-datepicker-toggle matSuffix [for]="CampaignLaunchDate"> </mat-datepicker-toggle>

          <mat-datepicker #CampaignLaunchDate [touchUi]="true"></mat-datepicker>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Enter a campaign start and end dates</mat-label>
          <input matInput formControlName="CampaignEndDate" [matDatepicker]="CampaignEndDate">
          <mat-hint>DD/MM/YYYY – DD/MM/YYYY</mat-hint>
          <mat-datepicker-toggle matSuffix [for]="CampaignEndDate"> </mat-datepicker-toggle>

          <mat-datepicker #CampaignEndDate [touchUi]="true"></mat-datepicker>
        </mat-form-field>


        <mat-form-field appearance="fill">
          <mat-label>Enter a campaign start and end dates</mat-label>
          <mat-date-range-input [rangePicker]="campaignPicker">
            <input matStartDate formControlName="CampaignLaunchDate" placeholder="Start date">
            <input matEndDate formControlName="CampaignEndDate" placeholder="End date">
          </mat-date-range-input>
          <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle matIconSuffix [for]="campaignPicker"></mat-datepicker-toggle>
          <mat-date-range-picker #campaignPicker></mat-date-range-picker>
        </mat-form-field>
      </div> -->

      <button mat-raised-button color="primary" type="submit" [disabled]="!newSalesBriefForm.valid">
        Submit Brief Form
      </button>


    </form>
  </div>
