<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <div class="card p-4">
        <div class="card-header bg-dark text-light">
          {{ brief.data.CampaignName }}
        </div>
        <div class="card-body">
          <p class="card-text">ID: {{ brief.data.id }}</p>
          <p class="card-text">Agency: {{ brief.data.Agency }}</p>
          <p class="card-text">Client: {{ brief.data.Client }}</p>
          <p class="card-text">Client Industry: {{ brief.data.ClientIndustry }}</p>
          <p class="card-text">Campaign Overview: {{ brief.data.CampaignOverview }}</p>
          <p class="card-text">Campaign Objective: {{ brief.data.CampaignObjective }}</p>
          <p class="card-text">Campaign Objective Details: {{ brief.data.CampaignObjectiveDetails }}</p>
          <p class="card-text">Number of Recommendations: {{ brief.data.NumberofRecommendations }}</p>
          <p class="card-text">Currency: {{ brief.data.Currency }}</p>
          <p class="card-text">Budget: {{ brief.data.Budget }}</p>
          <p class="card-text">Created by ID: {{ brief.data.CreatedbyID }}</p>
          <p class="card-text">Viewed by Talent:<span *ngIf="brief.data.ViewedByTalent == 1"> Yes </span> <span *ngIf="brief.data.ViewedByTalent == 0"> No</span></p>
          <p class="card-text">Ready: {{ brief.data.Ready }}</p>
          <p class="card-text">Created At: {{ date }}</p>
        </div>
      </div>
    </div>
    <div class="col-sm-4" style="margin-top: 2%;">
      <form [formGroup]="assignForm" (ngSubmit)="assign()" autocomplete="off" >
        <div class="form-group">
          <mat-form-field appearance="outline">
            <mat-label>Talent Employee </mat-label>
            <mat-select formControlName="Employee">
              <mat-option *ngFor="let item of talentEmployees" [value]="item.id">{{item.Name}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <button type="submit" class="btn btn-primary">Assign</button>
      </form>
    </div>
  </div>
</div>
